<link rel="stylesheet" href="~/css/ViewCss/Backend/Index.css">
<div id="MainBody">
    <div id="MenuList">
        <h3>NavBar</h3>
        <div>
            <div><button onclick="GetPage('Backend','NavBar')">項目</button></div>            
        </div>
        <h3>後台權限</h3>
        <div>
            <div><button onclick="GetPage('Backend','Account')">帳號</button></div>
        </div>
        <h3>其他</h3>
        <div>
            <div><button onclick="fnLogOut()">登出</button></div>
        </div>
    </div>
    <div id="Content">

    </div>
</div>   
<script src="~/js/ViewJs/Backend/Index.js"></script>