<link rel="stylesheet" href="~/css/ViewCss/Backend/NavBar.css">
<div id="NavBarBody">
    <table>
        <tr>
            <th>NavBar項目</th>
        </tr>
        <tr>
            <td>
                <button onclick="OpenCreateTable()">新增</button>
                <button onclick="QueryNavItem()">查詢</button>
            </td>            
        </tr>
    </table>
    <table id="NavBarItemCreate">
        <tr>
            <th colspan="2">新增NavBar項目</th>
        </tr>
        <tr>
            <td>NavBarItem名稱</td>
            <td><input type="text" name="NavName" id="NavName"></td>
        </tr>        
        <tr>
            <td>Action</td>
            <td>
                <input type="text" name="ActionName" id="ActionName">
            </td>
        </tr>
        <tr>
            <td>狀態</td>
            <td>
                <input type="radio" value="1" name="Status" checked="checked">顯示
                <input type="radio" value="0" name="Status">隱藏
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button onclick="CreateAction()">送出</button>
                <button>清空</button>
            </td>            
        </tr>
    </table>
    <table id="NavBarItemQuery">
        <tr>
            <th colspan="6">NavBar項目</th>
        </tr>
        <tr id="NavBarItemTh">
            <th>編號</th>
            <th>名稱</th>
            <th>Controller</th>
            <th>Action</th>
            <th>狀態</th>
            <th>指令</th>
        </tr>        
    </table>
</div>
<script src="~/js/ViewJs/Backend/NavBar.js"></script>