#MainBody{
    width: 100vw;                
    display: flex;
    flex-direction: row;
}
#MenuList{
    width: 25%;
}
#Content{
    width: 75%;        
}    
#MenuList button{
    width: 100%;
}
.ui-state-active{
    background-color: black;
    border:1px solid gray;
}
#UserName{
    color:white;
}