#space{
    height: 20vh;
}
#loginForm{                
    margin:auto;
    display: flex;    
    align-items: center;
    flex-direction: column;    
    font-size: 15px;
}
#ErrorMsg{
    color: red;
}
#LogInBar{
    width: 100%;
    border:1px solid black;    
    background-color: silver;    
}
#divForm{
    text-align:center;
    padding-top: 10px;
    width: inherit;           
    background-color: black;
    color: white;
    opacity: 0.8;
}
#divForm input[type=text]{    
    width: 60%;
    height:20px;    
}
#divForm input[type=password]{    
    width: 60%;
    height:20px;    
}
#divForm button{
    font-size: 8px;
    width: 20%;    
}
#space{
    text-align: right;
    color: red;
    padding-right: 50px;
}