.PageBody{
    text-align: center;
    display: flex;        
    flex-direction: column;
}
table{
    margin: auto;
    color: white;
}
table tr{
    border: 1px solid white;
}
table td{
    border: 1px solid white;
}
table{
    margin-top: 20px;
    border: 1px solid white;
    width: 60%;
    text-align: center;
}