<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="text/html;utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningMVC</title>
    <!-- environment include="A,B"表示在指定的環境中該標簽內容生效 -->    
    <link rel="stylesheet" href="~/css/BootStrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Jquery/jquery-ui.min.css">
    <style>
        #topBar{
            background-color:black;
            opacity: 0.6;
        }
        footer{
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: black;
            opacity: 0.6;
        }     
        body{
            background-image: url("/images/QACY.gif");
        }   
    </style>
    <script src="~/js/Jquery/jquery.js"></script>
    <script src="~/js/BootStrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/Jquery/jquery-ui.min.js"></script>    

    <script>
        $(document).ready(function(){
            var heightOfNavBar=$("#topBar").height();
            $("footer").height(heightOfNavBar);
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="topBar">
        <a class="navbar-brand" href="#" style="color:white;">Zhuang's Zone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAll">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAll">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#" id="TheMeetingRoom.html">TheMeetingRoom</a>
                </li> -->                
            </ul>
        </div>
        <div>
            <span id="UserName"></span>
        </div>
    </nav>    
    <div>
        @RenderBody()        
        <footer>            
        </footer>
    </div>
</body>
</html>
